# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
~/devel/dirac-hatom/cmake-build-debug
~/devel/dirac-hatom/cmake-build-release
